
.dmzsettings {
  position: relative;
  height: 100%;
}
.dmz-save {
  padding: 50px 0 0 20px;
  text-align: center;
}
.dmz-save button {
  width: 340px;
  height: 44px;
  background: #f3f3f3;
  color: #007dff;
}
.el-dialog__footer {
  padding: 40px 0 40px;
}

