
.none[data-v-d5377a14]{
    display: none;
}

@font-face {
  font-family: "iconfont"; /* Project id 2183006 */
src: url(../res/iconfont.woff2) format('woff2'),
url(../res/iconfont.woff) format('woff'),
url(../res/iconfont.ttf) format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_mobilenetwork:before {
  content: "\eb50";
}

.icon-ic_wifisettings:before {
  content: "\eb4f";
}

.icon-ic_devicemanagement:before {
  content: "\eb4e";
}

.icon-ic_wanconfig:before {
  content: "\eb4d";
}

.icon-ic_wifieasy:before {
  content: "\eb4c";
}

.icon-ic_customurl:before {
  content: "\eb4b";
}

.icon-ic_advanceset:before {
  content: "\eb4a";
}

.icon-ic_device:before {
  content: "\eb41";
}

.icon-ic_home:before {
  content: "\ea74";
}

.icon-antenna_pic_horizontal:before {
  content: "\ea72";
}

.icon-Arrowheads:before {
  content: "\ea73";
}

.icon-4G:before {
  content: "\ea4b";
}

.icon-5G:before {
  content: "\ea4c";
}

.icon-battery_normal:before {
  content: "\ea4d";
}

.icon-eth_no_connected:before {
  content: "\ea4e";
}

.icon-failed_notice_arrow:before {
  content: "\ea4f";
}

.icon-home_desktophilink:before {
  content: "\ea50";
}

.icon-home_desktop:before {
  content: "\ea51";
}

.icon-home_down:before {
  content: "\ea52";
}

.icon-home_internet:before {
  content: "\ea53";
}

.icon-home_router:before {
  content: "\ea54";
}

.icon-home_routerhilink:before {
  content: "\ea55";
}

.icon-home_routerwingle:before {
  content: "\ea56";
}

.icon-ic_complete:before {
  content: "\ea57";
}

.icon-ic_connection_wifi_lock:before {
  content: "\ea58";
}

.icon-home_up:before {
  content: "\ea59";
}

.icon-ic_form_broadband_disable:before {
  content: "\ea5a";
}

.icon-ic_guide_wifi:before {
  content: "\ea5b";
}

.icon-ic_no_contact:before {
  content: "\ea5c";
}

.icon-ic_spnner_on_normal:before {
  content: "\ea5d";
}

.icon-ic_return:before {
  content: "\ea5e";
}

.icon-ic_form_card_disable:before {
  content: "\ea5f";
}

.icon-ic_public_password_visible:before {
  content: "\ea60";
}

.icon-ic_right:before {
  content: "\ea61";
}

.icon-ic_sms_resend:before {
  content: "\ea62";
}

.icon-ic_statusbar_battery:before {
  content: "\ea63";
}

.icon-ic_wifi_signal:before {
  content: "\ea64";
}

.icon-ic_menu:before {
  content: "\ea65";
}

.icon-onnormal:before {
  content: "\ea66";
}

.icon-ic_device_upgrade:before {
  content: "\ea67";
}

.icon-sms_add_person:before {
  content: "\ea68";
}

.icon-sim_no_connected:before {
  content: "\ea69";
}

.icon-SIM:before {
  content: "\ea6a";
}

.icon-sms_send_normal:before {
  content: "\ea6b";
}

.icon-ic_public_password_unvisible:before {
  content: "\ea6c";
}

.icon-sms_resend:before {
  content: "\ea6d";
}

.icon-WLAN:before {
  content: "\ea6e";
}

.icon-sms_back_arrow:before {
  content: "\ea6f";
}

.icon-upgrade_check:before {
  content: "\ea70";
}

.icon-ic_setup:before {
  content: "\ea71";
}

.icon-device_2GHz_frequency:before {
  content: "\ea1b";
}

.icon-delete:before {
  content: "\ea1c";
}

.icon-device_5GHz_frequency:before {
  content: "\ea1e";
}

.icon-device_eth:before {
  content: "\ea1f";
}

.icon-device_offline:before {
  content: "\ea20";
}

.icon-device_2GHz_5GHz_frequency:before {
  content: "\ea21";
}

.icon-device_usb:before {
  content: "\ea22";
}

.icon-ic_arrow_blue_down:before {
  content: "\ea23";
}

.icon-edit:before {
  content: "\ea24";
}

.icon-device_wifi:before {
  content: "\ea25";
}

.icon-ic_cancel:before {
  content: "\ea26";
}

.icon-ic_childrenprotect:before {
  content: "\ea27";
}

.icon-ic_back_normal:before {
  content: "\ea28";
}

.icon-ic_complete_normal:before {
  content: "\ea2b";
}

.icon-ic_celllock:before {
  content: "\ea2c";
}

.icon-ic_contacts:before {
  content: "\ea2d";
}

.icon-ic_link:before {
  content: "\ea2e";
}

.icon-ic_Open_01:before {
  content: "\ea2f";
}

.icon-ic_onekey_warning:before {
  content: "\ea30";
}

.icon-ic_next:before {
  content: "\ea31";
}

.icon-ic_onekey_error:before {
  content: "\ea32";
}

.icon-ic_questwifi_help:before {
  content: "\ea33";
}

.icon-ic_score:before {
  content: "\ea34";
}

.icon-ic_reboot:before {
  content: "\ea35";
}

.icon-ic_retract_01:before {
  content: "\ea36";
}

.icon-ic_signout_normal:before {
  content: "\ea37";
}

.icon-ic_sms_msg_normal:before {
  content: "\ea38";
}

.icon-ic_stroage:before {
  content: "\ea39";
}

.icon-ic_statistic:before {
  content: "\ea3a";
}

.icon-ic_phonebook:before {
  content: "\ea3b";
}

.icon-ic_update_normal:before {
  content: "\ea3c";
}

.icon-ic_tools:before {
  content: "\ea3d";
}

.icon-ic_warning:before {
  content: "\ea3e";
}

.icon-ic_import:before {
  content: "\ea3f";
}

.icon-ic_ussd:before {
  content: "\ea40";
}

.icon-menu_arrow_close:before {
  content: "\ea41";
}

.icon-rightbtn:before {
  content: "\ea42";
}

.icon-right_crumbs:before {
  content: "\ea43";
}

.icon-lang_nactive:before {
  content: "\ea44";
}

.icon-new_create:before {
  content: "\ea45";
}

.icon-sms_alert_message:before {
  content: "\ea46";
}

.icon-sms_info_message:before {
  content: "\ea47";
}

.icon-ic_stk:before {
  content: "\ea48";
}

.icon-sort_down:before {
  content: "\ea49";
}

.icon-sort_up:before {
  content: "\ea4a";
}



.toast-view{
    background: #DBDBDB;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 22px;
    border-radius: 22px;
    position: absolute;
    bottom: 270px;
    margin: 0 auto;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
}


.loading-view-close-auto{
    height: 50px;
    line-height: 50px;
}


.control-label {
    font-size: 14px;
    width: 170px;
    margin-right: 10px;
    margin-top: 8px;
    color: #000;
    clear: both;
    float: none;
    display: inline-block;
}


.commonControls{
    padding-top: 30px;
}
.guide_common_control{
    padding-top: 10px;
}
.control-label{
    font-size: 14px;
    width: 170px;
    margin-top: 8px;
    color: #000;
    clear: both;
    float: none;
    display: inline-block;
}
.guide_control_label {
    font-size: 14px;
    width: 260px;
    margin-top: 20px;
    clear: both;
    float: none;
    display: inline-block;
}
.control{
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.guide-outdoor-control{
    width: 680px;
    margin:0 auto;
    font-size:14px;
    display:block;
}
.control .error-info{
    color:red;
    padding-top: 8px;
    font-size: 14px;
    width: 340px;
}
.control .control-info{
    color:#656565;
    padding-top: 8px;
    font-size:14px;
    width: 340px;
}
.control .el-switch{
    margin-top: 3px;
}
.control .errorInput .el-input__inner,.control .errorInput .el-input__inner:hover,.control .errorInput .el-input__inner:focus{
     border-color: red !important;
}
.control-suffix-right.blueText{
    color:#007dff;
}
.el-input__inner{
    color:#000;
}
.control-input {
    width:92px;
    display: inline-block;
}
.control-input-tail {
    height: 32px;
    display: inline-block;
    vertical-align: top;
}
.control-input-tail input{
    width:65px;
    padding:0;
    text-align:center
}
.control-input .el-input ,.control-input  input{
    width:92px;
}
.el-input input::-webkit-input-placeholder {
    color:#a0a0a0;
}
.el-input input:-moz-placeholder {
    color:#a0a0a0;
}
.el-input input::-moz-placeholder {
    color:#a0a0a0;
}
.el-input input:-ms-input-placeholder {
    color:#a0a0a0;
}
.icon-ic_public_password_visible,.icon-ic_public_password_unvisible{
    font-size: 30px;
    color: #797979;
    cursor: pointer;
}
.certfile-form-box {
    height: 32px;
    width: 340px;
    border-radius: 15px;
    border: 1px solid;
    color: #DCDFE6;
    background-color: #F3F3F3;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content:space-between;
}
.certfile-form-box .upload-box {
    display: inline-block;
    height: 32px;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
}
.certfile-form-box span {
    display: inline-block;
    border: none;
    background-color: transparent;
    font-size: 14px;
    display: inline-block;
    color: #007DFF;
    vertical-align: top;
    text-align: center;
    height: 100%;
    line-height: 32px;
}
.strength{
    width: auto;
    padding:0 4px;
    min-width:42px;
    display: inline-block;
    height:26px;
    border-radius:15px;
    text-align: center;
}
.strengthText{
    height:26px;
    line-height: 26px;
    color:#fff;
    font-size: 14px;
}
.weak{
    background-color:#fb6522;
}
.medium{
    background-color:#fec131;
}
.strong{
    background: #5db975;
}
.span-text {
    display: inline-block;
}


.controls-label{
    width:340px;
    font-size: 14px;
    margin-top: 3px;
}


.confirm-dialog .el-dialog{
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px!important;
    margin-left: -250px;
}
.confirm-dialog .el-dialog__header{
    padding-top: 40px;
}
.confirm-dialog .confirm-dialog-header{
    font-size: 16px;
    padding: 10px 0 22px;
    text-align: center;
    border-bottom: 1px solid #E9E9E9;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.confirm-dialog .el-dialog__body{
    padding: 0 30px;
    font-size: 16px;
    color: #000;
    text-align: center;
}
.confirm-dialog .el-dialog__footer{
    padding: 40px 0 20px;
    text-align: center;
}
.confirm-dialog-footer .el-button{
    width: 230px;
    height: 44px;
    border-radius: 22px;
    color: #007DFF;
    border: 1px solid #DCDFE6;
    background: #F7F7F7;
}
.confirm-dialog-footer .el-button:hover{
    background: #F2F2F2;
}
.diaImg{
    padding:16px 0;
}


.form-dialog .el-dialog {
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -340px;
}
.form-dialog .el-dialog__title {
    font-size: 16px;
}
.form-dialog .el-dialog__header {
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E9E9E9;
    text-align: center;
}
.form-dialog .el-dialog__body {
    padding-bottom: 0;
    font-size: 14px;
    color: #000;
}
.form-dialog .el-dialog__footer {
    padding: 40px 0 20px;
    text-align: center;
}
.form-dialog-footer .el-button {
    width: 230px;
    height: 44px;
    border-radius: 22px;
    color: #007DFF;
    border: 1px solid #DCDFE6;
    background: #F7F7F7;
}
.form-dialog-footer .el-button:hover {
    background: #F2F2F2;
}


.fireware-tip{
    margin-top: 30px;
    line-height: 20px;
}
.fireware-tip .fireware-tip-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FB7437;
    margin-right: 5px;
    text-align: center;
}
.fireware-tip .fireware-tip-icon i{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}


.language-temp-go {
    color: #007DFF;
    cursor: pointer;
}


.main-title{
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: #E9E9E9 solid 1px;
    overflow: hidden;
}
.main-title-content, .main-title-help-content{
    padding-top: 10px;
    font-size: 14px;
    color: #656565;
    line-height: 150%;
}
.main-title-help{
    padding-top: 16px;
    color: #007DFF;
    font-size: 16px;
    cursor: pointer;
}
.main-title-help i{
    font-size: 18px;
}
.main-title-help span{
    font-size: 16px;
    margin-left: 8px;
}
.main-title-contentStr{
    color: #656565;
    font-size: 14px !important;
    padding-top:10px ;
}


.m-button {
    display: inline-block;
}
.m-button .el-button {
    background: #F7F7F7;
    box-sizing: border-box;
    border: 1px solid #DCDCDC;
    border-radius: 100px;
}
.m-button .el-button:hover {
    background: #F2F2F2;
}

